body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center; /* İçeriği yatay olarak ortala */
    align-items: center; /* İçeriği dikey olarak ortala */
  }
  
  #unity-container {
    position: relative;
    width: 100%; /* Yatay genişliği ekranla sınırla */
    max-width: 100vw; /* Maksimum genişliği ekran genişliği ile sınırla */
    /* Oranı korumak için gereken yükseklik veya max-height ayarı */
  }
  
  #unity-canvas {
    width: 100%; /* Konteyner genişliğini doldur */
    height: auto; /* Oranı koruyarak yüksekliği otomatik ayarla */
    object-fit: contain; /* İçeriği kesmeden en iyi şekilde sığdır */
  }
  
  @media screen and (orientation: portrait) {
    #unity-container, #unity-canvas {
      max-width: 100vw; /* Yatay görünüm genişliğine sığdır */
      height: auto; /* Oranı koruyarak yüksekliği otomatik ayarla */
      /* Ekranın üst ortasına konumlandırmak için ekstra stil ayarları */
    }
  }
  
#unity-progress-bar-empty { width: 141px; height: 18px; margin-top: 10px; margin-left: 6.5px; background: url('progress-bar-empty-dark.png') no-repeat center }
#unity-progress-bar-full { width: 0%; height: 18px; margin-top: 10px; background: url('progress-bar-full-dark.png') no-repeat center }
#unity-footer { position: relative }
.unity-mobile #unity-footer { display: none }
#unity-build-title { float: right; margin-right: 10px; line-height: 38px; font-family: arial; font-size: 18px }
