body, html {
  height: 100%;
  margin: 0;
  overflow: hidden; /* Ekstra kaydırmayı önlemek için */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000; /* Arka plan rengi, isteğe bağlı */
}

#unity-container {
  position: relative; /* Konteyneri pozisyonlamak için */
  width: 100%;
  max-width: 1366px; /* Maksimum genişlik */
  aspect-ratio: 1366 / 768; /* İstenen oranı korur */
  display: flex;
  justify-content: center;
  align-items: center;
}

#unity-canvas {
  width: 100%; /* Konteyner genişliğini doldur */
  height: auto; /* Oranı korumak için otomatik yükseklik */
}

@media (max-width: 768px) {
  /* Mobil cihazlar için özel stil ayarları */
  #unity-container {
    max-width: 100%;
    height: auto;
    margin: 20px; /* Ekran kenarlarında bir miktar boşluk */
    padding: 0; /* Gerekirse padding ayarlaması */
  }
  
  #unity-canvas {
    max-height: 100vh; /* Ekranın tamamını kaplar, ancak oranı korur */
    object-fit: contain; /* İçeriği kesmeden veya sıkıştırmadan uygun şekilde ölçeklendirir */
  }
}

#unity-loading-bar, #unity-warning {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* Öğeleri yatay ve dikey olarak ortalar */
}
#unity-logo { width: 154px; height: 130px; background: url('unity-logo-dark.png') no-repeat center }
#unity-progress-bar-empty { width: 141px; height: 18px; margin-top: 10px; margin-left: 6.5px; background: url('progress-bar-empty-dark.png') no-repeat center }
#unity-progress-bar-full { width: 0%; height: 18px; margin-top: 10px; background: url('progress-bar-full-dark.png') no-repeat center }
#unity-footer { position: relative }
.unity-mobile #unity-footer { display: none }
#unity-webgl-logo { float:left; width: 204px; height: 38px; background: url('webgl-logo.png') no-repeat center }
#unity-build-title { float: right; margin-right: 10px; line-height: 38px; font-family: arial; font-size: 18px }
#unity-fullscreen-button { float: right; width: 38px; height: 38px; background: url('fullscreen-button.png') no-repeat center }
#unity-warning { position: absolute; left: 50%; top: 5%; transform: translate(-50%); background: white; padding: 10px; display: none }
